* {
  box-sizing: border-box; font-family: '微软雅黑';
}
html {
  // font-size: 62.5%;
  font-size: 14px;
}
body {
  margin: 0; padding: 0;
}
input, button, select, textarea { 
  outline: none;
}
img {
  border: 0;
}
.framebox-header {
  height: 60px; background-color: blue;
}
.framebox-aside {
  background-color: #545c64; float: left;
}
.framebox-section {
  float: left; width: calc(~'100% - 220px');
}

@import url(./animation.css);
@import url(./header.less);
@import url(./nav.less);
@import url(./form.less);
@import url(./dimension.less);
@import url(./transition.less);
@import url(./login.less);